<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h4>Registration Activated</h4>
<p>Your account is now activated.</p>
<p><a href="{% url 'auth_login' %}">Log in</a></p>

</body>
</html>