<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h2>Registration</h2>

<form action="." method="post">{% csrf_token %}
  {{ form.as_p }}
  <input type="submit" value="Register" />
</form>

</body>
</html>