{% load static %}
<!DOCTYPE html>
<head><script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.js"></script>
    <script type="text/javascript" src="{% static "/js/script.js" %}"></script>
</head>

<body>
<button id="myButton" type="button">Click</button>
<div id="myOutput"></div>
</body>

